* {
	box-sizing: border-box;
}
h1 ,h2 ,h3, h4, h5, h6{
    margin: 0;
}
:root {
	--text-primary: #000000;
	--text-white: white;
    --text-gray:#555555;
	
	--bg-primary: #f2cd5d;
	--bg-secondary:#eb7f4e;
    --bg-blue:#00d2ff;
    --bg-darkblue:#0084ff;
    --bg-voilet:#c51def;
	--bg-white: white;
	--bg-black: black;
    --bg-gray:#e5e5e5;
    --bg-gray-500:#efefef;
}
/*  */
.text-primary{
    color: var(--text-primary);
}
.text-white{
    color: var(--text-white);
}
.text-gray{
    color: var(--text-gray);
}
/* Background color */

.bg-gray-500{
    background-color: var(--bg-gray-500);
}
.bg-white{
    background-color: var(--bg-white);
}
.bg-gray{
    background-color:var(--bg-gray) ;
}
.bg-primary{
    background-color: var(--bg-primary);
}
.bg-secondary{
    background-color: var(--bg-secondary);
}

.object-fit-cover {
	object-fit: cover;
}

.text-uppercase {
	text-transform: uppercase;
}

/* width */

.col-1 {
width: 8.3333333333%;
}

.col-2 {
width: 16.6666666667%;
}

.col-3 {
width: 25%;
}
.col-4 {
	width: 33.3333333333%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.3333333333%;
}

.col-8 {
	width: 67.6666666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
width: 91.6666666667%;
}

.col-12 {
width: 100%;
}
/*  */
.h-100{
    height: 100%;
}
/* display */

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.text-center {
	text-align: center;
}

.text-end {
	text-align: end;
}

/* flex propertice */

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.align-item-center {
	align-items: center;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* Position */
.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}
.position-fixed{
    position: fixed;
}
/*  */
@font-face {
	font-family: "Open Sans";
	src: url(../font/OpenSans-VariableFont_wdth\,wght.woff), url(../font/OpenSans-VariableFont_wdth\,wght.woff2);
}
.font-family-open-sans{
    font-family: "Open Sans",sans-serif;
}

/* font Size */
.font-19{
    font-size: 19px;
}
.font-22{
    font-size: 22px;
}
.font-28{
    font-size: 28px;
}
.font-33{
    font-size: 33px;
}
.font-44{
    font-size: 44px;
}
.font-122{
    font-size: 122px;
    letter-spacing: 1px;
}
.font-100{
    font-size: 100px;
}
.font-67{
    font-size: 67px;
}
.font-78{
    font-size: 78px;
}

/*  */
.pt-100{
    padding-top: 100px;
}
.pt-65{
    padding-top: 65px;
}
.pt-80{
    padding-top: 80px;
}
.pb-112{
    padding-bottom: 112px;
}
.p-0{
    padding: 0;
}
.pr-5 {
padding-right: 48px ;
}
.pt-1{
    padding-top: 4px;
}
.pt-2{
    padding-top: 8px;
}
.pt-5 {
    padding-top: 48px 
}

.pb-5 {
    padding-bottom: 48px;
}
.mb-5{
    margin-bottom: 48px;
}
.mt-5{
    margin-top: 48px;
}

.px-35{
    padding-left: 35px;
    padding-right: 35px;
}
.py-30{
    padding-left: 30px;
    padding-right: 30px;
}
.m-0 {
	margin: 0;
}
.mx-auto {
	margin: 0 auto;
}
.ml-4 {
    margin-left: 24px;
}
.gap-50{
    gap: 50px;
}
.gap-20{
    gap: 20px;
}
/*  */
.gap-100{
    gap: 100px;
}
.box-shadow{
    box-shadow: 15.25px 23.483px 16px rgba(12,13,12,0.1)!important;
}
.z-index-1{
    z-index: 1;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
/* .vector-img-fluid{
    width: 10vw;
	height: auto;
	object-fit: cover;
} */
/* Main Css */
.line-height-150{
    line-height: 150px;
}
a {
	text-decoration: none;
}

body{
    margin: 0;
    font-family: "Open Sans",sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
/*  */
.checkbtn,.logo {
	display: none;
}
#check {
	display: none;
}
.checkbtn {
	font-size: 30px;
	cursor: pointer;
}
/*  */

.btn{
    position: relative;
    padding: 18px 45px;
    border: 4px solid var(--text-primary);
    font-weight: 700;
    margin-top: 80px;
    background-color: transparent;
}
.btn::after{
    content: " ";
    position: absolute;
    z-index: -1;
    background-color: var(--bg-primary);
    width: 235px;
    height: 72px;
    top: 5px;
    left: 5px;
}
.btn:hover::after{
    top: 0;
    left: 0;
}

/*  */
.container{
    max-width: 1470px;
    margin: 0 auto;
    padding-left: 17px;
    padding-right: 17px;
}
header,.banner-section{
    overflow: hidden;
}
.nav-bar{
    top: 0;
}
ul{
    justify-content: space-between;
}
ul li{
    list-style: none;
}
header ul li a{
    line-height: 153px;
    font-weight: 400;
    letter-spacing: 0px;
}
ul li a:hover{
    border-bottom: 1px solid var(--text-primary);
}
.banner-content{
    padding-top: 10px;
}
.banner-content p{
    line-height: 44px;
}
.vector{
    top: 10vw;
    left: -45px;
}
.vector-2{
    bottom: -9vw;
    left: -70px;    
    z-index: -1;
}
.vector-3{
    bottom: 0;
    right: 0;
}
.vector-4{
    top: -59px;
    right: -30px;
}
.vector-5{
    top: 4vw;
    left: 40%;
}
.vector-6{
    bottom: 0;
    right: 30px;
}
/*  */
.plate-section .plate-card{
    justify-content: space-evenly;
    font-size: 28px;
    font-weight: 500;
}
.plate-section .plate-card h2{
    font-weight: 700;
}
.plate-section .plate-card .plate-img{
    min-height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* meal-section */
.meal-section{
    overflow: hidden;
}
.meal-section h2{
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 120px;
}
.meal-section p{
    font-weight: 500;
    margin: 0;
}
.meal-section a{
    text-decoration: underline;
    font-weight: 600;
}
.meal-section .meal-vector{
    right: 10%;
    top: -3vw;
}
.meal-section .meal-vector-2{
    bottom: -5vw;
    right: -40px;
}
.meal-section .meal-vector-3{
    right: -14%;
    top: -3vw;
    z-index: -1;
}
.meal-section .meal-vector-4{
    bottom: 2vw;
    right: -10px;
    z-index: -1;
}
.meal-section .meal-vector-5{
    right: 6%;
    top: 7vw;
}
.meal-section .meal-vector-6{
    right: 5%;
    bottom: 7vw;
    z-index: -1;
}
/* menu-section */
.menu-section .btn::after, .store-section .btn::after{
    width: 190px;
    height: 62px;
}
.menu-section .btn ,.store-section .btn{
    margin-top: 10px;
}
/*  */
.store-section .card-title{
    background-color: var(--bg-secondary);
    padding: 10px;
    width: 60%;
    transform: translate(0px,-53px);
    margin: auto;
    
}
.store-section .card-title h2{
    border: 3px solid var(--text-primary);
    text-align: center;
    padding: 12px 42px;
    line-height: 56px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

/*  */
.slide-content{
    display: flex!important;
}
.slick-dots {
	display: flex!important;
	justify-content: center!important;
	margin: 0!important;
	padding: 5rem 0!important;
	list-style-type: none!important;
}
.slick-dots	li {
    margin: 0 0.25rem!important;
}
.slick-dots	button {
    display: block;
    width: 18px;
    height: 19px;
    padding: 0;
    border: 1.3333333333333333px solid  var(--bg-primary);
    border-radius: 100%;
    background-color: transparent;
    
    text-indent: -9999px;
}

.slick-dots	li.slick-active button {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}
.slick-list{
    padding: 50px 0;
}
/*  */
.store-section{
    overflow: hidden;
}
.store-vector-1{
    bottom: 9vw;
    left: -5px;
}
.store-vector-2{
    right: 30%;
    top: -4vw;
}
.store-vector-5{
    bottom: 3vw;
    right: -50px;
    z-index: -1;
}
.store-vector-6{
    top: 7vw;
    right: -20px;
}
.store-vector-7{
    bottom: -5vw;
    left: 50%;
}
.store-vector-3{
    top: -2vw;
    left: -8%;
}
.store-vector-4{
    top: -3.5vw;
    left: -10%;
}
/*  */

.profile-section .profile-recipes iframe{
    object-fit: contain;
    width: 100%;
    box-shadow: 17.355px 20.683px 28.5px rgba(12,13,12,0.59);
} 
.profile-section .social-icon .facebook , .profile-section .social-icon .insta , .profile-section .social-icon .twitter{
    background-color: var(--bg-darkblue);
    width: 49px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}	
.profile-section .social-icon .insta{
    background-color: var(--bg-voilet);   
}
.profile-section .social-icon .twitter{
    background-color: var(--bg-blue);
}	
.profile-section .social-icon .icon{
    color: var(--text-white);
    font-size: 30px;
}
/*  */
.contact-section{
    overflow: hidden;
}
.contact-section form input, textarea{
    padding: 25px;
    width: 100%;
    border: 2px solid #b0b0b0;
    margin-bottom: 50px;
}
::placeholder{
    color: #b0b0b0;
}
.contact-section .btn::after{
    width: 285px;
}
.contact-section .btn{
    margin-top: 10px;
}

.contact-section .contact-vector-1{
    right: 2%;
    top: 4vw;
}
.contact-section .contact-vector-2{
    right: 10%;
    bottom: -4vw;
}
.contact-section .contact-vector-3{
    right: -6%;
    top: -7vw;
}
.contact-section .contact-vector-4{
    bottom: -4vw;
    left: 38%;
    z-index: -1;
}
.contact-section .contact-vector-5{
    right: 44%;
    top: 1.8vw;
    z-index: -1;
}
.contact-section .contact-vector-6{
    right: 20px;
    bottom: 4vw;
}
/*  */
ul{
    padding-inline-start: unset;
}

/*  */

footer h6{
    font-weight: 400;
}
footer .social-icon .facebook , footer .social-icon .insta , footer .social-icon .twitter{
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-secondary);
    background-color: var(--text-primary);
}

/* media Query */
@media screen and (max-width:1400px) {
    .vector-img-fluid{
        width: 10vw;
        height: auto;
        object-fit: cover;
    }
}
@media screen and (max-width:1200px) {
    
    .font-19{
        font-size: 16px;
    }
    .font-22{
        font-size: 20px;
    }
    .font-28{
        font-size: 22px;
    }
    .font-33{
        font-size: 25px;
    }
    .font-44{
        font-size: 30px;
    }
    .font-122{
        font-size: 100px;
        letter-spacing: 1px;
    }
    .font-100 , .font-67 , .font-78{
        font-size: 60px;
    }
    .pt-100{
        padding-top: 50px;
    }
    .meal-section h2{
        line-height: unset;
    }
    .meal-section .meal-content{
        margin-left: 50px;
    }
    .plate-section .plate-card {
        font-size: 20px;
    }
    .py-30{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .btn::after{
        width: 195px;
    }
    .menu-section .btn::after, .store-section .btn::after {
        width: 180px;
        height: 60px;
    }
    .contact-section .btn::after {
        width: 249px;
        height: 67px;
    }
}
@media screen and (max-width:1191px) {
    .font-19{
        font-size: 16px;
    }
    .font-22{
        font-size: 18px;
    }
    .font-28{
        font-size: 20px;
    }
    .font-33{
        font-size: 20px;
    }
    .font-44{
        font-size: 25px;
    }
    .font-122{
        font-size: 60px;
        letter-spacing: 1px;
    }
    .font-100 , .font-67 , .font-78{
        font-size: 40px;
    }
    .line-height-150 {
        line-height: unset;
    }
    .pt-100 {
        padding-top: 20px;
    }
    .pt-65 {
        padding-top: 30px;
    }
    .contact-section .btn::after {
        width: 235px;
        height: 65px;
    }
    .menu-section .btn::after, .store-section .btn::after {
        width: 166px;
    }
    .contact-section .contact-vector-3 {
        right: -16%;
        top: -15vw;
    }    
    .pr-5 {
        padding-right: 0px;
    }
}
@media screen and (max-width:991px) {
    .meal-section .meal-content{
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .font-19{
        font-size: 16px;
    }
    .font-22,.font-28,.font-33{
        font-size: 18px;
    }
    .font-44{
        font-size: 20px;
    }
    .font-122{
        font-size: 55px;
        letter-spacing: 1px;
    }
    .font-100 , .font-67 , .font-78{
        font-size: 30px;
    }
}
@media screen and (max-width:768px) {
    .vector ,.vector-2 ,.vector-3,.vector-4,.vector-5,.vector-6,
    .meal-vector,.meal-vector-2,.meal-vector-3,.meal-vector-4,.meal-vector-5,
    .meal-vector-6,.store-vector-1,.store-vector-2,.store-vector-3,.store-vector-4,
    .store-vector-5,.store-vector-6,.store-vector-7,.contact-vector-1,.contact-vector-2,
    .contact-vector-3,.contact-vector-4,.contact-vector-5,.contact-vector-6{
        display: none;
    }


    .store-section .card-title h2{
        padding: 0px 42px;
    }
    .btn {
        margin-top: 20px;
    }
    .flex-lg-column-reverse{
        flex-direction: column-reverse;
    }
    .col-10, .col-6{
        width: 100%;
    }
    .pt-lg-3 {
        padding-top: 24px 
    }
    .pb-lg-3{
        padding-bottom: 24px;
    }
    .pb-lg-0{
        padding-bottom: 0px;
    }
    .pt-lg-0{
        padding-top: 0px;
    }
    .flex-lg-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-lg-column{
        flex-direction: column;
    }
    .font-22,.font-28,.font-33{
        font-size: 16px;
    }
    .mobile-nav{
        display: flex;
        align-items: center;
    }
    .logo {
        display: block;
        z-index: 999;
    } 
    .checkbtn {
		display: block;
		z-index: 999;
		text-align: end;
		width: 100%;
		color: var(--text-primary);
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: var(--bg-gray);
		left: -100%;
		text-align: center;
		transition: all .5s;
		z-index: 9;
	}

	.nav-bar .menu li {
		display: block;
		margin: 50px 0px;
	}
    .nav-bar .menu li a{
        line-height: 50px;
    }

	.nav-bar .menu {
		display: block;
	}

	.nav-bar .menu li a {
		font-size: 20px;
	}
	a.active,
	a:hover {
		outline: 1px solid white;
		transition: .5s;
	}
	#check:checked~.menu {
		left: 0;
		top: -17px;
	}
    li.d-flex.desk-logo {
        display: none;
    }
    /*  */
    .btn::after {
        width: 175px;
    }
    .banner-content p {
        line-height: 30px;
    }
    
    .contact-section iframe{
        height: 500px;
    }
    .contact-section form input, textarea {
        margin-bottom: 10px;
    }
    .contact-section .btn::after {
        width: 207px;
        height: 58px;
    }
    .col-2, .col-3{
        width: 100%;
    }
    footer .font-33{
        font-size: 30px;
    }
    footer .font-22{
        font-size: 25px;
    }
    .py-lg-3{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
@media screen and (max-width:575px) {
    
    .store-section .card-title{
        width: 80%;
    }
    .store-section .card-title h2{
        font-size: 20px;
    }
    .flex-md-column{
        flex-direction: column;
    }
    .col-8{
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
    
    .menu-section .btn::after, .store-section .btn::after {
        width: 165px;
    }
}

/* End */

